<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.lazyLoad.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/layout :: header"></div>

<form class="form-narrow form-horizontal" method="post" th:action="@{/lazyRowAdd}" th:object="${theWatchListDesc}">
    <fieldset>
        <legend>New Account Details</legend>
        <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
            <label for="name" class="col-lg-2 control-label">WatchList Name</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="name" placeholder="Enter WatchList Name" th:field="*{name}"/>
                <span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect Name</span>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('description')}? 'has-error'">
            <label for="description" class="col-lg-2 control-label">Description</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="description" placeholder="Enter Description" th:field="*{description}" />
                <span class="help-block" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Incorrect Description</span>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('marketDataFrequency')}? 'has-error'">
            <label for="marketDataFrequency" class="col-lg-2 control-label">Market Data Frequency</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="marketDataFrequency" placeholder="Enter Market Data Frequency" th:field="*{marketDataFrequency}" />
                <span class="help-block" th:if="${#fields.hasErrors('marketDataFrequency')}" th:errors="*{marketDataFrequency}">Incorrect Market Data Frequency</span>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('dataProviders')}? 'has-error'">
            <label for="dataProviders" class="col-lg-2 control-label">Data Providers</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="dataProviders" placeholder="Data Providers" th:field="*{dataProviders}" />
                <span class="help-block" th:if="${#fields.hasErrors('dataProviders')}" th:errors="*{dataProviders}">Error!</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10"><input type="hidden" th:field="*{id}">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </div>
    </fieldset>
</form>


<div th:replace="fragments/layout :: footer"></div>

</body>
</html>