<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.listAccount.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/layout :: header"></div>
<div class="col-md-12">
    <h4>View WatchList!</h4>
    <div class="table-responsive">
        <table id="mytable" class="table table-bordred table-striped">
            <thead>
            <tr>
                <th>Stock</th>
                <th>#</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="theStock : ${stockSymbolsList}">
                <td th:text="${theStock}"></td>
                <td>
                    <a th:href="@{'/view-data?stockSymbol=' + ${theStock}}" type="submit" class="btn btn-primary " ></a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

</div>

<div th:replace="fragments/layout :: footer"></div>

</body>
</html>