<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.viewData.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
</head>
<body>
<div th:replace="fragments/layout :: header"></div>
<div class="col-md-12">
    <div id="myBarChart" style="min-width: 310px; max-width: 800px; height: 500px; margin: 0 auto"></div>

    <h4>View Bar Data</h4>
    <div class="table-responsive">
        <table id="mytable" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Open</th>
                <th>High</th>
                <th>Low</th>
                <th>Close</th>
                <th>Volume</th>
                <th>Time</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="selectBarData : ${barData}">
                <td th:text="${selectBarData.open}"></td>
                <td th:text="${selectBarData.high}"></td>
                <td th:text="${selectBarData.low}"></td>
                <td th:text="${selectBarData.close}"></td>
                <td th:text="${selectBarData.vol}"></td>
                <td th:text="${selectBarData.date}"></td>
            </tr>
            </tbody>
        </table>

    </div>

</div>

<div th:replace="fragments/layout :: footer"></div>

<script type="text/javascript">
    Highcharts.chart('myBarChart', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'View Bar Data'
        },
        subtitle: {
            text: 'Fintech App.'
        },
        xAxis: {
            categories: ['Date 1', 'Date 2', 'Date 3', 'Date 4', 'Date 5'],
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Rate',
                align: 'low'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: ' '
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: -40,
            y: 80,
            floating: true,
            borderWidth: 1,
            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
            shadow: true
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Open',
            data: [1.8,	1.8063,	1.8, 1.8063]
        }, {
            name: 'High',
            data: [1.8011,	1.81, 1.8011, 1.81]
        }, {
            name: 'Low',
            data: [1.8,	1.8,	1.8,	1.8]
        },
            {
                name: 'Close',
                data: [1.8001,	1.8001,	1.8,	1.8]
            }]
    });
</script>
</body>
</html>