<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Account</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<form class="form-narrow form-horizontal" method="post" th:action="@{/edit-account}" th:object="${editAccount}" th:fragment="editAccountForm">
    <fieldset>
        <legend>Edit Account Details</legend>
        <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
            <label for="name" class="col-lg-2 control-label">Account Name</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="name" placeholder="Account Name" th:field="*{name}"/>
                <span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect Name</span>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
            <label for="email" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="email" placeholder="Email address" th:field="*{email}" />
                <span class="help-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect email</span>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('additionalInfo')}? 'has-error'">
            <label for="email" class="col-lg-2 control-label">Additional Info</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="additionalInfo" placeholder="Additional Info" th:field="*{additionalInfo}" />
                <span class="help-block" th:if="${#fields.hasErrors('additionalInfo')}" th:errors="*{additionalInfo}">Error!</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10"><input type="hidden" th:field="*{id}">
                <button type="submit" class="btn btn-default">Edit</button>
            </div>
        </div>
    </fieldset>
</form>
</body>
</html>