<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.listAccount.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/layout :: header"></div>
<div class="col-md-12">
    <h3>YAFINTECH Web Service</h3>
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/components :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}})">&nbsp;</div>
    </th:block>
    <div class="table-responsive">
        <table id="mytable" class="table table-bordred table-striped">
            <thead>
                <tr>
                    <th><input type="checkbox" id="checkall" /></th>
                    <th>Account Name</th>
                    <th>Email</th>
                    <th>AdditionalInfo</th>
                    <th>CreationDate</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th><button id="addActn" class="btn btn-success btn-xs float-right" >Add New  <span class="glyphicon glyphicon-new-window"></span></button></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="accounts : ${accountList}">
                    <td><input type="checkbox" class="checkthis" /></td>
                    <td th:text="${accounts.email}"></td>
                    <td th:text="${accounts.name}"></td>
                    <td th:text="${accounts.additionalInfo}"></td>
                    <td th:text="${accounts.convertDate()}"></td>
                    <td><p data-placement="top" data-toggle="tooltip" title="Edit">
                        <button th:id="${accounts.id}" type="submit" class="btn btn-primary btn-xs foo23" ><span class="glyphicon glyphicon-pencil"></span>
                        </button></p>
                    </td>
                    <td><p data-placement="top" data-toggle="tooltip" title="Delete">
                        <button th:id="${accounts.id * 3000000}" class="btn btn-danger btn-xs foo24" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span>
                        </button></p>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <div class="clearfix"></div>
        <!--<ul class="pagination pull-right">-->
        <!-- TODO Fix Paging!-->
            <!--<li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>-->
            <!--<li class="active"><a href="#">1</a></li>-->
            <!--<li><a href="#">2</a></li>-->
            <!--<li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>-->
        <!--</ul>-->

    </div>

</div>

<div th:replace="fragments/layout :: footer"></div>

<script th:inline="javascript" type="text/javascript">
    /* Fill in modal with content loaded with Ajax */
    $(document).ready(function () {
        $('#addActn').on('click', function () {
            $("#addActn-modal").modal();
            $("#addActn-modal-body").text("");
            $.ajax({
                url: "add-account",
                cache: false
            }).done(function (html) {
                $("#addActn-modal-body").append(html);
            });
        });

        $('.foo23').on('click', function () {
            $("#editActn-modal").modal();
            $("#editActn-modal-body").text("");
            var actID = $(this).attr("id");
            $.ajax({
                url: "edit-account",
                data: {id: actID},
                cache: false
            }).done(function (html) {
                $("#editActn-modal-body").append(html);
            });
        });

        $('.foo24').on('click', function () {
            $("#delActn-modal").modal();
            $("#delActn-modal-body").text("");
            var actID = $(this).attr("id");
            var actID2 = actID / 3000000;
            $.ajax({
                url: "delete-account",
                data: {id: actID2},
                cache: false
            }).done(function (html) {
                $("#delActn-modal-body").append(html);
            });
        })
    });
</script>
<div th:replace="fragments/components :: modal(id='addActn-modal', title='Add Account')"></div>
<div th:replace="fragments/components :: modal(id='editActn-modal', title='Edit Account')"></div>
<div th:replace="fragments/components :: modal(id='delActn-modal', title='Delete Account')"></div>

</body>
</html>